@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 15px;
	background-color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
}

/* header */

.header{
	height: 90px;
	width: 100vw;
	background-color: #F0F0F0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #8f4bb0;
	box-shadow: 5px 0 10px rgba(0,0,0, .6);
	position: sticky;
}

header label{
  	font-size: 2em;
  	width: 30px;
  	height: 30px;
  	display: none;
}

header label:hover{	
	cursor: pointer;
  	background: rgba(0,0,0,0.1);
}

.logo img{
	padding: 15px 23px;
	height: 80%;
	width: 80%;
}

.navegacion{
	visibility: visible;
}

.navegacion nav{
	width: 100%;
	margin: 50px auto;
	justify-content: flex-end;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
	min-width: 200px;
}

.menu > li > a{
	display: block;
	color: #434242;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
}

nav{
	margin-right: 20px;
}

.menu a{
	margin: 0 15px;
}

.menu li a:hover{
	color: #9f49d8;
	transition: all .3s;
}

#btn-hmbg{
  display: none;
}

/*submenu*/

.submenu{
	position: absolute;
	background: #7e7e7e;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	width:auto;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	font-size: 1em;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

/*main*/

main{
	display: flex;
}

.p-bienvenidos{
	width: 89%;
	position: relative;
	z-index: 50;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	margin-left: 20px;
}	

#bienvenidos{
	font-size: 3em;
	animation-name: bienvenidos;
	animation-duration: 3s;
	animation-direction: normal;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin: auto;
}

.bienvenidos{
	margin: auto;
	width: 45%;
}

.bar_bienve{
	width: 40%;
}

.bar_bienve p{
    width: 100%;
	margin-right: 40px;
}

.backg{
	width: 100vw;
	height: 100vh;
	animation: backg 10s infinite linear alternate;
	background-size: 100% 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes backg{
	0%, 20%{
		background-image: url(../img/Background/background1.gif);	
	}
	25%, 45%{
		background-image: url(../img/Background/background2.gif);
	}
	50%, 70%{
		background-image: url(../img/Background/background3.gif);
	}
	75%, 100%{
		background-image: url(../img/Background/background2.gif);
	}
}

@keyframes bienvenidos{
	0%{
		visibility:hidden;
	}
	
	65%{
		visibility: visible;
	}
	
	100%{
		color: #494949;
	}
}

h1{
	font-family: 'Cookie', cursive;
	font-size: 2.87em;
	font-weight: 900;
	font-style: normal;
	color:#000000;
	margin-bottom: 2px;
	margin-top: 0px;
}

h2{
	font-family: 'Cookie', cursive;
	color:#000000;
	font-size: 2.5em;
	font-weight: 900;
	font-style: italic;
	display:flex;
	flex-direction: row;
	justify-content: center;
	margin: 0px;
	padding-bottom:10px;
}

h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1em;
	font-weight: 800;
	color:#494949;
	margin-bottom: 10px;
}

h4{
	font-family: 'Montserrat', sans-serif;
	color:#2F2F2F;
	font-size: 1em;
	font-weight: 700;
	text-decoration:underline;
	margin-bottom: 0px;
}

h5{
	font-family: 'Montserrat', sans-serif;
	color:#2F2F2F;
	font-size: 0.99em;
	font-weight: 500;
	font-style: italic;
	margin-top: 0px;
	margin-bottom: 0px;
}

p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 0.819em;
	color:#000000;
	margin: 0px;
	padding: 0px;
}

/*aside*/


/*boton arriba*/

.botonarriba{
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

/*boton whatsapp*/
.float{
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 45px;
	right: 10px;
	background: #25d366;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	font-size: 39px;
	z-index: 100;
}

.float:hover{
	background-color: #28e76e;
}

/* grid */

.grid-container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr 0.3fr;
	grid-template-rows: 0.1fr 1.5fr 0.08fr;
	gap: 0px;
	grid-template-areas:
	  "headerc headerc headerc"
	  "sectioncontacto sectioncontacto asidelat"
	  "footer footer footer";
}  

/*FOOTER*/
footer{
	width: 100%;
	height: 45px;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:#D5C8EF;
	grid-area: footer;
}

footer p{
	font-size: 0.8em;
	text-align: center;
	margin: auto;
}

/*CONTACTO*/

.headerc{
	grid-area: headerc;
	height: 90px;
	width: 100%;
	background-color: #F0F0F0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #8f4bb0;
	box-shadow: 5px 0 10px rgba(0,0,0, .6);
	position: sticky;
}

.sectioncontacto { 
	grid-area: sectioncontacto;
	align-self: center;
    display: flex;
	flex-direction: row;
    width: 90vw;
    margin: auto;
}	

.sectioncontacto article{
	margin: auto;
}

#form{
	width: 38%;
}

.contacto h2{
    font-size: 2.89em;
    color:#494949;
    margin-bottom: 20px;
	margin-top: 30px;
	justify-content: flex-start;
}

.contacto h3{
	color: #525252;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	font-weight: 200;
	margin-bottom: 20px;
	justify-content: flex-start;
}

.contacto p{
	margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
	margin: auto;
}

input {
    margin-bottom: 20px;
    min-height: 25px;
    background-color: rgba(204,204,204,1.00);
    border: 1px solid #B544AA;
}

textarea{
  background-color: rgba(204,204,204,1.00);
  border: 1px solid #B544AA;
  margin-bottom: 40px;
  min-height: 72px;
}

label{
    font-size: 1em;
	font-family: 'Montserrat', sans-serif;
}

#form button{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 100;
    text-decoration: none;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    text-transform: uppercase;
    height: 40px;
    border: 3px solid #B544AA;
    color: #B544AA;
    box-sizing: border-box;
}


#form button:hover{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #B544AA;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
} 

#fila1, #fila2{
  padding-bottom: 50px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.6);color: #B544AA; }


#mapa{
	border: 2px solid #B544AA;
	width: 40%;
}

iframe{
	width: 100%;
}

.asidelat {
	grid-area: asidelat;
	width:10vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.redesc{
	width: 10%;
	display: flex;
	flex-direction: column;
	justify-self: flex-end;
	margin-right: 0px;
	margin-top: 0px;
}

/*SOBREMI*/

.sobremi h2{
	font-family: 'Cookie', cursive;
	font-size: 2.89em;
	font-weight: 800;
	color:#494949;
	margin-bottom: 10px;
	justify-content: flex-start;
}

#bar_izq{
    width: 20%;
	margin: auto;
}

#bar_der{
    width: 50%;
	margin: auto;
	align-items: center;
}

/*GALERIA*/

.maing{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sectiongal{
	width: 90vw;
	justify-content: center;
	margin: auto;
}

.articletext{
	width: 80%;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 20px;
}

.articletext h2{
	font-size: 2.89em;
    color:#494949;
    margin-bottom: 20px;
	margin-top: 30px;
	justify-content: flex-start;
}

.articletext h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.1em;
    color:#494949;
    margin-bottom: 20px;
	margin-top: 30px;
	justify-content: flex-start;
}

.articlegal{
	width: 90vw;
	display: flex;
	margin: auto;
	justify-content: space-between;
	flex-wrap: wrap;
}

.articlegal a{
	width: 23%;
	margin-top: 2%;
}

.articlegal a img{
	width: 90%;
	height: auto;
}

.asideg{
	width:10vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.redes{
	width: 10%;
	display: flex;
	flex-direction: column;
	justify-self: center;
	margin-right: 0px;
	margin-top: 0px;
}


@media screen and (max-width : 580px){
	
	.header{
		height: 65px;
     	top: 0;
		display: flex;
		justify-content: center;
	}

	header label{
      display: block;
    }
	
	.navegacion{
		visibility: hidden;
	}
	
	.menu{
		position: absolute;
		top: 65px;
		left: 0;
		width: 100%;
	}
	
    .menu ul{
		display: block;
		background: #353535;
    }
	
	.menu ul li:hover ul{
		display: none;
    }
	
	.menu li{
		display: block;
	}
	
	.menu > li > a{
		padding: 10px 0px 10px 30px;
		background-color: white;
		margin: 0px;
	}
	
    #btn-hmbg:checked ~ nav{
		visibility: visible;
    }
	
	.logo img{
		width: 60%;
		height:auto;
	}
	
	.submenu{
		z-index: 1000;
	}
	
	.navegacion ul{
		
		z-index: 100;
	}
	
/* sobre mi */

    .flex-parent{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
	
	section{
		display: flex;
        flex-direction: column;
		justify-content: center;
		width: 100%;
		margin-top: 0px;
    }

/* index */

	.main{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		}
	
	#p-bienvenidos{
		flex-direction: column;
		justify-content: flex-end;
		width: 100%;
		height: 30%;
	}
	
	#bienvenidos{
		font-size: 2.5em;
		text-align: center;
	}
	
	.backg{
		width: 100%;
		height: auto;
	}

/* aside */
	
	aside{
        width: 100%;
    }
	
	
/*galeria*/

	.maing{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: auto;
	}

	.sectiongal{
		width: 100vw;
		margin: auto;
	}

	#articlegal a{
		width: 48%;
	}
	
	.asidegal{
		width:100vw;
		margin-top: 0;
		margin-bottom: 20px;
		justify-content: flex-end;
	}

	
	.redes{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-content: center;
		flex-wrap: nowrap;
		margin: auto;
	}
	
	footer{
		width: 100%;
		height: 45px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color:#D5C8EF;
	}

	footer p{
		font-size: 0.69em;
		text-align: center;
		margin: auto;
	}
	
	
/*contacto*/

	.grid-container {
		grid-template-columns: 1fr;
		grid-template-rows: 0.2fr auto 0.3fr 0.1fr;
		grid-template-areas:
		"headerc"
		"sectioncontacto"
		"asidelat"
		"footer";
	}

	.mainc{
		display: flex;
		flex-direction: column;
		margin-top: 10px;
	}

	.sectioncontacto { 
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100vw;
		margin: auto;
	}

	.sectioncontacto article{
		margin: auto;
	}

	#form{
		width: 80%;
		margin: auto;
	}
	
	#mapa{
		width: 80%;
		height: auto;
		margin-top: 30px;
		margin-bottom: 20px;
	}

	iframe{
		width: 100%;
	}
	
	.whatsapp {
			position:fixed;
			bottom: 20px;
			right: 10px;
	}

	.asidelat {
		width:100vw;
		height: 70px;
		margin-top: 0;
		margin-bottom: 20px;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.redesc{
		flex-direction: row;
		justify-content: center;
		align-content: center;
		height: 40px;
	}
	
/* sobre mi */
	#sobremi{
		width: 100%;
		display: flex;
		flex-direction: column!important;
		justify-content: center;
		margin-top: 30px;
	}
	
	.flex-container{
		width: 100%;
		display: flex;
		flex-direction: column!important;
		justify-content: center;
		align-items: center;
	}
	
	#bar_der{
		width: 80%;
		margin-top: 20px;
	}
	
	#bar_izq{
		width: 80%;
	}
	
	#bar_bienve p{
		width: auto;
		height: auto;
		margin: auto;
	}
	
	}