footer{
    width: 100vw;
	height: 45px;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:#d5c8ef;
	grid-area: footer;
	margin-top: 15 px;
	position: absolute;
    p{
        font-size: 0.69em;
		text-align: center;
		margin: auto;
    }
}