.backg{
    width: 100vw;
	height: 100vh;
	animation: backg 10s infinite linear alternate;
	background-size: 100% 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
    @keyframes backg{
        0%, 20%{
            background-image: url(../img/Background/background1.gif);	
        }
        25%, 45%{
            background-image: url(../img/Background/background2.gif);
        }
        50%, 70%{
            background-image: url(../img/Background/background3.gif);
        }
        75%, 100%{
            background-image: url(../img/Background/background2.gif);
        }
    }
}
