$colmagenta: #8f4bb0;
$colrosa: #b544aa;
$colrosita: #f8e6f7;
$colgrisoscu: #494949;
$colnegro: #00000099;
$colgrisc: #525252;
$colblanco: #ffffff;
$colgrist:#434242;
$background-color-1: #cca7e0;
$background-color_2: #e0a2ff;
$background-color_3: #ffffff;
$background-color_4: #e9cefc;
$background-color_5: #ecebec;
$background-color_6: #25d366;
$background-color_7: #28e76e;
$fuente: 'Montserrat', sans-serif;
$fuentemenu: "Raleway", sans-serif;
$fuentedest: 'Fredoka One', serif;