$colmagenta: #9f49d8;
$colrosa: #b544aa;
$colrosita: #f8e6f7;
$colgrisoscu: #494949;
$colgrisc: #525252;
$colblanco: #ffffff;
$colnegro: #00000099;
$colgrist:#434242;
$background-color-1: #ebcdf6;
$background-color_2: #f8e6f7;
$background-color_3: #0000001a;
$background-color_4: #7e7e7e;
$background-color_5: #d5c8ef;
$background-color_6: #d0b2e7;
$background-color_7: #353535;
$background-color_8: #cccccc;
$background-color_9: #25d366;
$background-color_10: #28e76e;
$fuente: 'Montserrat', sans-serif;
$fuentesec: 'Fredoka One', serif;