/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  background-color: #ebcdf6;
  font-family: "Montserrat", sans-serif;
}

.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 0.3fr;
  grid-template-rows: 0.1fr 1.5fr 0.08fr;
  gap: 0px;
  grid-template-areas: "headerc headerc headerc" "sectioncontacto sectioncontacto asidelat" "footer footer footer";
}

.headerc {
  grid-area: headerc;
  height: 115px;
  width: 100%;
  background-color: #f8e6f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #8f4bb0;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  position: sticky;
}
.headerc label {
  font-size: 2em;
  width: 30px;
  height: 30px;
  display: none;
}
.headerc label:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
}
.headerc #btn-hmbg {
  display: none;
}

h1 {
  margin: 50px;
  width: 40%;
}

h2 {
  font-family: "Cookie", cursive;
  color: #000000;
  font-size: 2.5em;
  font-weight: 900;
  font-style: italic;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
  padding-bottom: 10px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.819em;
  color: #000000;
  margin: 0px;
  padding: 0px;
}

.logo {
  width: 130px;
  height: 104px;
  animation-name: logo;
  animation-duration: 6s;
  animation-timing-function: linear;
  background-image: url("../img/logo1-4.png");
  background-repeat: no-repeat;
}
@keyframes logo {
  0% {
    background-image: url("../img/logo1-0.png");
  }
  25% {
    background-image: url("../img/logo1-1.png");
  }
  50% {
    background-image: url("../img/logo1-2.png");
  }
  75% {
    background-image: url("../img/logo1-3.png");
  }
  100% {
    background-image: url("../img/logo1-4.png");
  }
}
.logo img {
  padding: 15px 23px;
}

.navegacion {
  visibility: visible;
  width: 60%;
  margin: 50px auto;
  justify-content: flex-end;
}
.navegacion ul {
  list-style: none;
}
.navegacion .menu li {
  position: relative;
  display: inline-block;
  min-width: 200px;
}
.navegacion .menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
}
.navegacion .menu li a {
  display: block;
  color: #434242;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  margin: 0 15px;
}
.navegacion .menu li a:hover {
  color: #9f49d8;
  transition: all 0.3s;
}
.navegacion .submenu {
  position: absolute;
  background: #7e7e7e;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
}
.navegacion .submenu li a {
  display: block;
  padding: 15px;
  color: #fff;
  width: auto;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 1em;
}

.backg {
  width: 100vw;
  height: 100vh;
  animation: backg 10s infinite linear alternate;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes backg {
  0%, 20% {
    background-image: url(../img/Background/background1.gif);
  }
  25%, 45% {
    background-image: url(../img/Background/background2.gif);
  }
  50%, 70% {
    background-image: url(../img/Background/background3.gif);
  }
  75%, 100% {
    background-image: url(../img/Background/background2.gif);
  }
}

main {
  display: flex;
}
main .p-bienvenidos {
  width: 89vw;
  position: relative;
  z-index: 50;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
}
main .sectioncontacto {
  grid-area: sectioncontacto;
  align-self: center;
  display: flex;
  flex-direction: row;
  width: 90vw;
  margin: auto;
}
main .sectioncontacto article {
  margin: auto;
}
main .sectioncontacto .bienvenidos {
  margin: auto;
  width: 45%;
  font-size: 3em;
  animation-name: bienvenidos;
  animation-duration: 3s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin: auto;
}
@keyframes bienvenidos {
  0% {
    visibility: hidden;
  }
  65% {
    visibility: visible;
  }
  100% {
    color: #494949;
  }
}
main .sectioncontacto .bar_bienve {
  width: 40%;
}
main .sectioncontacto .bar_bienve p {
  width: 100%;
  margin-right: 40px;
}
main .sectioncontacto #bar_izq {
  width: 20%;
  margin: auto;
}
main .sectioncontacto #bar_der {
  width: 50%;
  margin: auto;
  align-items: center;
}
main .sectioncontacto #bar_der h2 {
  font-size: 2.89em;
  font-weight: 800;
  color: #494949;
  margin-bottom: 10px;
  justify-content: flex-start;
}
main .sectioncontacto form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
main .sectioncontacto form h2 {
  font-size: 2.89em;
  color: #494949;
  margin-bottom: 20px;
  margin-top: 30px;
  justify-content: flex-start;
}
main .sectioncontacto form h3 {
  color: #525252;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: 200;
  margin-bottom: 20px;
  justify-content: flex-start;
}
main .sectioncontacto form p {
  margin-bottom: 20px;
}
main .sectioncontacto #form {
  width: 38%;
}
main .sectioncontacto #form button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: 100;
  text-decoration: none;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  text-transform: uppercase;
  height: 40px;
  border: 3px solid #B544AA;
  color: #B544AA;
  box-sizing: border-box;
}
main .sectioncontacto #form button:hover {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: #B544AA;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
}
main .sectioncontacto #form input {
  margin-bottom: 20px;
  min-height: 25px;
  background-color: rgb(204, 204, 204);
  border: 1px solid #B544AA;
}
main .sectioncontacto #form textarea {
  background-color: rgb(204, 204, 204);
  border: 1px solid #B544AA;
  margin-bottom: 40px;
  min-height: 72px;
}
main .sectioncontacto #form label {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
}
main .sectioncontacto #form #fila1, main .sectioncontacto #form #fila2 {
  padding-bottom: 50px;
}
main .sectioncontacto #form .grow {
  transition: all 0.2s ease-in-out;
}
main .sectioncontacto #form .grow:hover {
  transform: scale(1.6);
  color: #B544AA;
}
main .sectioncontacto #mapa {
  border: 2px solid #B544AA;
  width: 40%;
}
main .sectioncontacto #mapa iframe {
  width: 100%;
}
main .sectioncontacto .articletext {
  width: 90vw;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 30px;
}
main .sectioncontacto .articletext h2 {
  font-size: 2.89em;
  color: #494949;
  margin-bottom: 20px;
  margin-top: 30px;
  justify-content: flex-start;
}
main .sectioncontacto .articletext h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  color: #494949;
  margin-bottom: 20px;
  margin-top: 30px;
  justify-content: flex-start;
}
main .sectioncontacto .articlegal {
  width: 89%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 10px;
}
main .sectioncontacto .articlegal a {
  width: 23%;
  margin-top: 2%;
}
main .sectioncontacto .articlegal a img {
  width: 90%;
  height: auto;
}
main .asidelat {
  grid-area: asidelat;
  width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .asidelat .redesc {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  margin-right: 0px;
  margin-top: 0px;
}
main .botonarriba {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

footer {
  width: 100%;
  height: 45px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D5C8EF;
  grid-area: footer;
  margin-top: 15 px;
}
footer p {
  font-size: 0.69em;
  text-align: center;
  margin: auto;
}

.float {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 45px;
  right: 10px;
  background: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 39px;
  z-index: 100;
}
.float:hover {
  background-color: #28e76e;
}

@media screen and (max-width: 580px) {
  body {
    font-size: 0.8em;
    width: 100%;
  }
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr auto 0.3fr 0.1fr;
    grid-template-areas: "headerc" "sectioncontacto" "asidelat" "footer";
  }
  .headerc {
    height: 80px;
    display: flex;
    width: 100vw;
    top: 0;
    justify-content: space-around;
  }
  .headerc label {
    display: block;
  }
  .headerc #btn-hmbg:checked {
    visibility: visible;
  }
  h1 {
    width: 40%;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 60px;
    margin-right: 20px;
  }
  .logo {
    height: 50%;
  }
  .logo img {
    width: auto;
    height: 30%;
  }
  .navegacion {
    visibility: hidden;
  }
  .navegacion ul {
    z-index: 100;
  }
  .navegacion .menu {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
  }
  .navegacion .menu ul {
    display: block;
    background: #353535;
  }
  .navegacion .menu ul li {
    display: block;
  }
  .navegacion .menu ul li:hover ul {
    display: none;
  }
  .navegacion .menu ul li a {
    padding: 10px 0px 10px 30px;
    background-color: #d0b2e7;
    margin: 0px;
  }
  .navegacion .submenu {
    z-index: 1000;
  }
  .backg {
    width: 100%;
    height: auto;
  }
  .mainc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
  }
  .mainc .p-bienvenidos {
    flex-direction: column;
    justify-content: center;
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
  }
  .mainc .sectioncontacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    margin: auto;
    margin-bottom: 15px;
  }
  .mainc .sectioncontacto article {
    margin: auto;
  }
  .mainc .sectioncontacto .bienvenidos {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mainc .sectioncontacto .bar_bienve {
    margin-top: 20px;
  }
  .mainc .sectioncontacto .bar_bienve p {
    width: auto;
    height: auto;
    margin: auto;
  }
  .mainc .sectioncontacto .bar_der {
    width: 80%;
    margin-top: 20px;
  }
  .mainc .sectioncontacto #bar_izq {
    width: 80%;
    margin: auto;
  }
  .mainc .sectioncontacto #bar_izq img {
    width: auto;
    height: auto;
  }
  .mainc .sectioncontacto #form {
    width: 80%;
    margin: auto;
  }
  .mainc .sectioncontacto #mapa {
    width: 80%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .mainc .sectioncontacto #mapa iframe {
    width: 100%;
  }
  .mainc .sectioncontacto .articlegal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .mainc .sectioncontacto .articlegal a {
    width: 60%;
    height: auto;
    align-items: center;
    margin: 10px;
  }
  .mainc .sectioncontacto .articlegal a img {
    width: 100%;
    height: auto;
  }
  .mainc .asidelat {
    width: 100vw;
    height: 70px;
    margin-top: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .mainc .asidelat .redesc {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 40px;
  }
  footer {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #D5C8EF;
  }
  footer p {
    font-size: 0.69em;
    text-align: center;
    margin: auto;
  }
  .whatsapp {
    position: fixed;
    bottom: 20px;
    right: 10px;
  }
}/*# sourceMappingURL=estilo.css.map */