@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import "404";
@import "body";
@import "header";
@import "footer";
@import "mq";

h1{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    .logo{
        width: 130px;
        height: 104px;
        align-items: center;
    }
}

.logo{
    width: 130px;
    height: 104px;
    animation-name: logo;
    animation-direction: alternate-reverse;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    background-image:url("../img/logo1-4.png");
    background-repeat: no-repeat;
    background-position:center;
    @keyframes logo{
        0% {background-image: url("../img/logo1-0.png");
        }
        25% {background-image: url("../img/logo1-1.png");
        }
        50% {background-image: url("../img/logo1-2.png");
        }
        75% {background-image: url("../img/logo1-3.png");
        }
        100% {background-image: url("../img/logo1-4.png");
        }
    }
}

h2{
	font-family: 'Cookie', cursive;
	color:#000000;
	font-size: 2.5em;
	font-weight: 900;
	font-style: italic;
	display:flex;
	flex-direction: row;
	justify-content: center;
	margin: 0px;
	padding-bottom:10px;
}

p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 0.819em;
	color:#000000;
	margin: 0px;
	padding: 0px;
}

main{
    display: flex;
    .p-bienvenidos{
        width: 89vw;
        position: relative;
        z-index: 50;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        margin-left: 20px;
    }
    .sectiongal{
        display: flex;
        flex-direction: column;
        width: 90vw;
        margin: auto;
        article{
            margin:auto;
        }
        .articlegal{
            width: 89%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: auto;
            margin-bottom: 10px;
            a{
                width: 23%;
                margin-top: 2%;
                img{
                    width: 90%;
                    height: auto;
                }
            }
        }
        .articletext{
            width: 90vw;
            flex-direction: column;
            justify-content: flex-start;
            margin-left: 30px;
            h2{
                font-size: 2.89em;
                color:#494949;
                margin-bottom: 20px;
                margin-top: 30px;
                justify-content: flex-start;
            }
            h3{
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: 1.1em;
                color:#494949;
                margin-bottom: 20px;
                margin-top: 30px;
                justify-content: flex-start;
            }
        }
    }
    .sobremi{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .sectioncontacto{
        grid-area: sectioncontacto;
        align-self: center;
        display: flex;
        flex-direction: row;
        width: 90vw;
        margin: auto;
        article{
            margin:auto;
        }
        .bar_img{
            width: 40%;
            .inicio__imagenes {
                max-width: 600px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .imagenes__imgbox {
                    position: relative;
                    width: 300px;
                    height: 450px;
                    border: 2px solid var(--brown);
                    background-color: var(--cream);
                    &:nth-child(1) {
                        top: 70px;
                        left: 50px;
                        z-index: 1;
                    }
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        padding: 15px;
                    }
                }
            }
        }
        .bienvenidos{
            margin: auto;
            width: 45%;
            font-size: 3em;
            animation-name: bienvenidos;
            animation-duration: 3s;
            animation-direction: normal;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            margin-bottom: 30px;
            @keyframes bienvenidos{
                0%{
                    visibility:hidden;
                }
                65%{
                    visibility: visible;
                }
                100%{
                    color: #494949;
                }
            }
        }
        .bar_bienve{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 40%;
            p{
                text-align: center;
                width: 100%;
                margin-right: 40px;
            }
        }
        #bar_izq{
            width: 20%;
            margin: auto;
        }
        #bar_der{
            width: 50%;
            margin: auto;
            align-items: center;
            h2{
                font-size: 2.89em;
                font-weight: 800;
                color:#494949;
                margin-bottom: 10px;
                justify-content: flex-start;
            }
        }
        form{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: auto;
            h2{
                font-size: 2.89em;
                color:#494949;
                margin-bottom: 20px;
                margin-top: 30px;
                justify-content: flex-start;
            }
            h3{
                color: #525252;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.2em;
                font-weight: 200;
                margin-bottom: 20px;
                justify-content: flex-start;
            }
            p{
                margin-bottom: 20px;
            }
        }
        #form{
            width: 38%;
            button{
                font-family: 'Montserrat', sans-serif;
                font-size: 1.2em;
                font-weight: 100;
                text-decoration: none;
                padding: 10px;
                padding-right: 30px;
                padding-left: 30px;
                text-transform: uppercase;
                height: 40px;
                border: 3px solid #B544AA;
                color: #B544AA;
                box-sizing: border-box;
                &:hover{
                    font-family: 'Montserrat', sans-serif;
                    color: white;
                    background-color: #B544AA;
                    text-decoration: none;
                    box-sizing: border-box;
                    cursor: pointer;
                }
            }
            input {
                margin-bottom: 20px;
                min-height: 25px;
                background-color: rgba(204,204,204,1.00);
                border: 1px solid #B544AA;
            }
            textarea{
                background-color: rgba(204,204,204,1.00);
                border: 1px solid #B544AA;
                margin-bottom: 40px;
                min-height: 72px;
            }
            label{
                font-size: 1em;
                font-family: 'Montserrat', sans-serif;
            }
            #fila1, #fila2{
                padding-bottom: 50px;
            }
            .grow { transition: all .2s ease-in-out; }
            .grow:hover { transform: scale(1.6);color: #B544AA; }
        }
        #mapa{
            border: 2px solid #B544AA;
            width: 40%;
            iframe{
                width: 100%;
            }
        }
        .articletext{
            width: 90vw;
            flex-direction: column;
            justify-content: flex-start;
            margin-left: 30px;
            h2{
                font-size: 2.89em;
                color:#494949;
                margin-bottom: 20px;
                margin-top: 30px;
                justify-content: flex-start;
            }
            h3{
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: 1.1em;
                color:#494949;
                margin-bottom: 20px;
                margin-top: 30px;
                justify-content: flex-start;
            }
        }
        .articlegal{
            width: 89%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: auto;
            margin-bottom: 10px;
            a{
                width: 23%;
                margin-top: 2%;
                img{
                    width: 90%;
                    height: auto;
                }
            }
        }
    }
    .asidelat{
        grid-area: asidelat;
        width:10vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .redesc{
            width: 10%;
            display: flex;
            flex-direction: column;
            justify-self: flex-end;
            margin-right: 0px;
            margin-top: 0px;
        }
    }
}

.botonarriba{
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.float{
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 45px;
	right: 10px;
	background: #25d366;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	font-size: 39px;
	z-index: 100;
    &:hover{
        background-color: #28e76e;
    }
}