/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
.b404 {
  min-height: 80vh;
  overflow-x: hidden;
}
.b404 .main404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.b404 .main404 .section404 {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.b404 .main404 .section404 .error404 span {
  font-family: "Fredoka One", cursive;
  font-size: 10em;
  padding: 10px;
  color: #1b1b1b;
  transition: 0.3s;
  text-shadow: 1px 1px 1px #ccc, 1px 2px 1px #ccc, 1px 3px 1px #ccc, 1px 4px 1px #ccc, 1px 5px 1px #ccc, 1px 6px 1px #ccc, 1px 7px 1px #ccc, 1px 8px 1px #ccc, 1px 9px 1px #ccc, 1px 10px 1px #ccc, 1px 18px 6px rgba(16, 14, 14, 0.4), 1px 22px 10px rgba(16, 14, 14, 0.2), 1px 25px 35px rgba(16, 14, 14, 0.2), 1px 30px 60px rgba(16, 14, 14, 0.4);
}
.b404 .main404 .section404 h2 {
  color: #1b1b1b;
  font-family: "Fredoka One", cursive;
  font-size: 2em;
  font-weight: bolder;
  line-height: 2;
  margin-bottom: 10px;
}
.b404 .main404 .section404 p {
  text-align: center;
  line-height: 1.7;
}
.b404 .main404 .section404 a {
  text-decoration: none;
  padding: 12px 23px;
  color: #fff;
  background: #aa4df1;
  font-size: 1em;
  font-weight: 500;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.b404 .main404 .section404 a:hover {
  background: #8616cb;
}
.b404 .main404 .section404 a ion-icon {
  margin-left: 10px;
}

:root {
  --bg-white: #ffffff;
  --white: #ffffffb3;
  --black: #121212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html body {
  width: 100vw;
}

body {
  min-height: 100vh;
  font-size: 15px;
  background: linear-gradient(-45deg, #cca7e0, #e0a2ff, #ffffff, #e9cefc);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
body .grid-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 0.3fr;
  grid-template-rows: 0.09fr 1.5fr 0.08fr;
  gap: 0px;
  grid-template-areas: "headerc headerc headerc" "sectioncontacto sectioncontacto asidelat" "footer footer footer";
}

.headerc {
  grid-area: headerc;
  width: 100%;
}

header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ecebec;
  border-bottom: 1px solid #8f4bb0;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  position: sticky;
}
header .menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
}
header .menu nav ul {
  display: flex;
  list-style: none;
}
header .menu nav ul li a {
  text-decoration: none;
  color: var(--black);
  font-size: 1em;
  transition: 0.3s;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
header .menu nav ul li a:hover {
  background: var(--bg-white);
}

li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.dropdown {
  display: flex;
  position: absolute;
  top: 100px;
  right: 155px;
  flex-direction: column;
  gap: 20px;
  background: var(--white);
  padding: 20px;
  border-radius: 10px;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
}

main {
  display: flex;
}
main .p-bienvenidos {
  width: 89vw;
  position: relative;
  z-index: 50;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
}
main .sectiongal {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: auto;
}
main .sectiongal article {
  margin: auto;
}
main .sectiongal .articlegal {
  width: 89%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 10px;
}
main .sectiongal .articlegal a {
  width: 23%;
  margin-top: 2%;
}
main .sectiongal .articlegal a img {
  width: 90%;
  height: auto;
}
main .sectiongal .articletext {
  width: 90vw;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 30px;
}
main .sectiongal .articletext h2 {
  font-size: 2.89em;
  color: #494949;
  margin-bottom: 20px;
  margin-top: 30px;
  justify-content: flex-start;
}
main .sectiongal .articletext h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  color: #494949;
  margin-bottom: 20px;
  margin-top: 30px;
  justify-content: flex-start;
}
main .sectioncontacto {
  grid-area: sectioncontacto;
  align-self: center;
  display: flex;
  flex-direction: row;
  width: 90vw;
  margin: auto;
}
main .sectioncontacto article {
  margin: auto;
}
main .sectioncontacto .bar_img {
  width: 40%;
}
main .sectioncontacto .bar_img .inicio__imagenes {
  max-width: 600px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .sectioncontacto .bar_img .inicio__imagenes .imagenes__imgbox {
  position: relative;
  width: 300px;
  height: 450px;
  border: 2px solid var(--brown);
  background-color: var(--cream);
}
main .sectioncontacto .bar_img .inicio__imagenes .imagenes__imgbox:nth-child(1) {
  top: 70px;
  left: 50px;
  z-index: 1;
}
main .sectioncontacto .bar_img .inicio__imagenes .imagenes__imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 15px;
}
main .sectioncontacto .bienvenidos {
  margin: auto;
  width: 45%;
  font-size: 3em;
  animation-name: bienvenidos;
  animation-duration: 3s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-bottom: 30px;
}
main .sectioncontacto .bar_bienve {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
main .sectioncontacto .bar_bienve h2 {
  align-items: center;
  margin-bottom: 50px;
}
main .sectioncontacto .bar_bienve h2 .logo {
  width: 130px;
  height: 104px;
  align-items: center;
}
main .sectioncontacto .bar_bienve h3 {
  text-align: center;
  width: 100%;
}
main .sectioncontacto .bar_bienve p {
  text-align: center;
  width: 100%;
}
main .sectioncontacto #bar_izq {
  width: 20%;
  margin: auto;
}
main .sectioncontacto #bar_der {
  width: 50%;
  margin: auto;
  align-items: center;
}
main .sectioncontacto #bar_der h2 {
  font-size: 2.89em;
  font-weight: 800;
  color: #494949;
  margin-bottom: 10px;
  justify-content: flex-start;
}
main .sectioncontacto form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
main .sectioncontacto form h2 {
  font-size: 2.89em;
  color: #494949;
  margin-bottom: 20px;
  margin-top: 30px;
  justify-content: flex-start;
}
main .sectioncontacto form h3 {
  color: #525252;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: 200;
  margin-bottom: 20px;
  justify-content: flex-start;
}
main .sectioncontacto form p {
  margin-bottom: 20px;
}
main .sectioncontacto #form {
  width: 38%;
}
main .sectioncontacto #form button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: 100;
  text-decoration: none;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  text-transform: uppercase;
  height: 40px;
  border: 3px solid #B544AA;
  color: #B544AA;
  box-sizing: border-box;
}
main .sectioncontacto #form button:hover {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: #B544AA;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
}
main .sectioncontacto #form input {
  margin-bottom: 20px;
  min-height: 25px;
  background-color: rgb(204, 204, 204);
  border: 1px solid #B544AA;
}
main .sectioncontacto #form textarea {
  background-color: rgb(204, 204, 204);
  border: 1px solid #B544AA;
  margin-bottom: 40px;
  min-height: 72px;
}
main .sectioncontacto #form label {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
}
main .sectioncontacto #form #fila1, main .sectioncontacto #form #fila2 {
  padding-bottom: 50px;
}
main .sectioncontacto #form .grow {
  transition: all 0.2s ease-in-out;
}
main .sectioncontacto #form .grow:hover {
  transform: scale(1.6);
  color: #B544AA;
}
main .sectioncontacto #mapa {
  border: 2px solid #B544AA;
  width: 40%;
}
main .sectioncontacto #mapa iframe {
  width: 100%;
}
main .sectioncontacto .articletext {
  width: 90vw;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 30px;
}
main .sectioncontacto .articletext h2 {
  font-size: 2.89em;
  color: #494949;
  margin-bottom: 20px;
  margin-top: 30px;
  justify-content: flex-start;
}
main .sectioncontacto .articletext h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  color: #494949;
  margin-bottom: 20px;
  margin-top: 30px;
  justify-content: flex-start;
}
main .sectioncontacto .articlegal {
  width: 89%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 10px;
}
main .sectioncontacto .articlegal a {
  width: 23%;
  margin-top: 2%;
}
main .sectioncontacto .articlegal a img {
  width: 90%;
  height: auto;
}
main .asidelat {
  grid-area: asidelat;
  width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .asidelat .redesc {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  margin-right: 0px;
  margin-top: 0px;
}

.logo {
  width: 130px;
  height: 104px;
  animation-name: logo;
  animation-direction: alternate-reverse;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  background-image: url("../img/logo1-4.png");
  background-repeat: no-repeat;
  background-position: center;
}

.botonarriba {
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.float {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 45px;
  right: 10px;
  background: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 39px;
  z-index: 100;
}
.float:hover {
  background-color: #28e76e;
}

@keyframes logo {
  0% {
    background-image: url("../img/logo1-0.png");
  }
  25% {
    background-image: url("../img/logo1-1.png");
  }
  50% {
    background-image: url("../img/logo1-2.png");
  }
  75% {
    background-image: url("../img/logo1-3.png");
  }
  100% {
    background-image: url("../img/logo1-4.png");
  }
}
@keyframes bienvenidos {
  0% {
    visibility: hidden;
  }
  65% {
    visibility: visible;
  }
  100% {
    color: #494949;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
footer {
  width: 100vw;
  height: 45px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d5c8ef;
  grid-area: footer;
  margin-top: 15 px;
  position: absolute;
}
footer p {
  font-size: 0.69em;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 580px) {
  body {
    font-size: 0.8em;
    width: 100vw;
    min-height: 100vh;
    position: relative;
  }
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr auto 0.3fr 0.1fr;
    grid-template-areas: "headerc" "sectioncontacto" "asidelat" "footer";
  }
  header {
    grid-area: headerc;
    width: 100vw;
    height: 89px;
  }
  header .menu {
    padding: 10px 30px;
  }
  header .menu nav .menuToggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url("../img/menu.png") center no-repeat;
    background-size: 30px;
    cursor: pointer;
    filter: invert(1);
  }
  header .menu nav .menuToggle.active {
    position: relative;
    width: 40px;
    height: 40px;
    background: url("../img/close.png") center no-repeat;
    background-size: 30px;
  }
  header .menu nav ul {
    display: none;
  }
  header .menu nav.active ul {
    position: fixed;
    opacity: 1;
    visibility: visible;
    width: 50%;
    height: calc(100% - 40px);
    top: 80px;
    left: 0;
    padding: 10px;
    display: flex;
    align-items: left;
    flex-direction: column;
    background: var(--white);
  }
  header .menu nav.active ul li .dropdown {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 200px;
    background: none;
    flex-direction: column;
    padding-left: 20px;
    opacity: 1;
    visibility: visible;
    gap: 0px;
    transform: translateY(0px);
    display: none;
  }
  header .menu nav.active ul li .dropdown.active {
    position: relative;
    display: flex;
  }
  .mainc {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .mainc .p-bienvenidos {
    flex-direction: column;
    justify-content: center;
    width: 90%;
    text-align: center;
  }
  .mainc .sectioncontacto {
    grid-area: sectioncontacto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 100vh;
    margin: auto;
    padding-top: 10px;
  }
  .mainc .sectioncontacto article {
    margin: 20px;
  }
  .mainc .sectioncontacto .bar_bienve {
    width: 90%;
    margin-top: 20px;
  }
  .mainc .sectioncontacto .bar_bienve p {
    width: auto;
    height: auto;
    margin: auto;
  }
  .mainc .sectioncontacto .bienvenidos {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mainc .sectioncontacto .bar_der {
    width: 80%;
    margin-top: 20px;
  }
  .mainc .sectioncontacto #bar_izq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
  }
  .mainc .sectioncontacto #bar_izq img {
    width: auto;
    height: auto;
  }
  .mainc .sectioncontacto #form {
    width: 80%;
    margin: auto;
  }
  .mainc .sectioncontacto #mapa {
    width: 80%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .mainc .sectioncontacto #mapa iframe {
    width: 100%;
  }
  .mainc .sectiongal .articlegal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
  }
  .mainc .sectiongal .articlegal a {
    width: 60%;
    height: auto;
    align-items: center;
    margin: 10px;
  }
  .mainc .sectiongal .articlegal a img {
    width: 100%;
    height: auto;
  }
  .mainc .asidelat {
    grid-area: asidelat;
    width: 100vw;
    height: 70px;
    margin-top: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .mainc .asidelat .redesc {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 40px;
  }
  .section404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 30px;
  }
  .section404 h2 {
    margin: 30px;
  }
  .section404 p {
    margin: 30px;
  }
  .sectioncontacto .bar_img {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sectioncontacto .bar_img .inicio__imagenes {
    display: flex;
    flex-direction: column;
  }
  .sectioncontacto .bar_img .inicio__imagenes .imagenes__imgbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sectioncontacto .bar_img .inicio__imagenes .imagenes__imgbox:nth-child(2) {
    display: none;
  }
  .sectioncontacto .bar_img .inicio__imagenes .imagenes__imgbox:nth-child(1) img {
    align-items: flex-start;
    width: 100%;
    height: auto;
  }
  .whatsapp {
    position: fixed;
    bottom: 20px;
    right: 10px;
  }
  footer {
    width: 100vw;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #D5C8EF;
    bottom: 0px;
    grid-area: footer;
  }
  footer p {
    font-size: 0.69em;
    text-align: center;
    margin: auto;
  }
}
h2 {
  font-family: "Cookie", cursive;
  color: #000000;
  font-size: 2.5em;
  font-weight: 900;
  font-style: italic;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
  padding-bottom: 10px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.819em;
  color: #000000;
  margin: 0px;
  padding: 0px;
}/*# sourceMappingURL=estilo.css.map */